NODE_ENV= # Set the environment (development, production, etc.)
PORT= # Set the port number for the application
DATABASE_URL= # Set the database connection URL (e.g., postgresql://username:password@host:port/database)
REDIS_HOST= # Set the Redis host
REDIS_PORT= # Set the Redis port